*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: rgba(248, 38, 38, 0.99);
    --light-blue: #17d6e9;
}

@import url(“animations.css”);

/* ==================================== HEADER SECTION ================================= */
/* ===================================================================================== */

header {
    width: 80%;
    padding: 0 10%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
    box-shadow: -6px -5px 9px;
}

.images {
   width: 150px;    
}

nav {
    display: flex;
    /* padding: 1% 6%; */
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-item {
    flex: 1;
    text-align: right;
}

.nav-item ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    text-transform: uppercase;
}

.nav-item ul li a {
    text-decoration: none;
    color: black;
}
.nav-item ul li a:hover  {
    color: var(--light-blue);
}

.shoe-button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    background-color: var(--red);
    border-style: none;
    border-radius: 8px;
    margin-top: 20px;
}
.shoe-button:hover {
    color: #000000;
    background-color: var(--light-blue);
}



/* ==================================== BANNER SECTION ================================= */
/* ===================================================================================== */ 
section.main-sec {
    /* min-height: 100vh; */
    width: 80%;
    padding: 0 10%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.4)), url(../images/display.png);
    /* background-image: url(images/display.png); */
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

.text-area {
    padding: 20% 0% 15% 0%;
}

.text-area h1 {
    font-size: 60px;
}

.text-area p {
    font-size: 25px;
}
.dell{
    border-radius: 220px;
    width: 400px;
}
.goat{
    border-radius: 29px;
    width: 600px;
}

.carousel, .video-sec {
    width: 80%;
    margin: 0 auto;
    padding: 7.5% 1.25rem;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ==================================== SLIDER SECTION ================================= */
/* ===================================================================================== */
 
.carousel aside, .video-sec .title{
   padding: 60px;
} 

.carousel,
.carousel-div,
.carousel__viewport {
    /* box-sizing: border-box; */
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}
  
.carousel::-webkit-scrollbar,
.carousel-div::-webkit-scrollbar,
.carousel__viewport::-webkit-scrollbar {
    width: 0;
}
  
.carousel::-webkit-scrollbar-track,
.carousel-div::-webkit-scrollbar-track,
.carousel__viewport::-webkit-scrollbar-track {
    background: transparent;
}
  
.carousel::-webkit-scrollbar-thumb,
.carousel-div::-webkit-scrollbar-thumb
.carousel__viewport::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
  
* {
    -ms-overflow-style: none;
}
  
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
  
.carousel-div {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
  
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
  
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}
  
.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
}
  
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
  
@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
}
  
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
}
  
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}
  
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
  
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
  
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--red);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
  
.carousel-div::before,
.carousel-div::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}
  
.carousel-div::before,
.carousel__prev {
    left: -1rem;
}
  
.carousel-div::after,
.carousel__next {
    right: -1rem;
}
  
.carousel-div::before,
.carousel-div::after {
    content: '';
    z-index: 1;
    background-color: rgb(248, 38, 38);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}
  
.carousel-div::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
  
.carousel-div::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* ==================================== SERVICES SECTION ================================= */
/* ===================================================================================== */
.services-sec {
    width: 80%;
    margin: 0 auto;
    padding: 7.5% 1.25rem;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
}

.list-services li {
    list-style-type: circle;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text-content{
    padding: 60;
}
.media-content{
    padding: 20px 60px 20px 60px;
}

.margin-big {
    padding-top: 15%;
}

/* ==================================== PRODUCTS SECTION =============================== */
/* ===================================================================================== */

.margin-big main {
    width: 80%;
    margin: 20px 10%;
}
.shoe-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.shoe-row .show-item img {
    width: 200px;
}

.show-item{
    width: 25%;
    min-height: 261px;
    margin-bottom: 30px;
}

.show-background {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
}
.show-background:hover{
    opacity: 0.7;
}
.prices {
    color: var(--red);
}


/* ==================================== SLIDING CHECK BUTTON ================================= */
/* ===================================================================================== */

.switch {
    margin-left: 40%;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 75px;
}

switch:after{
    content: " ";
    background-color: white;
    color: #000;
    width: 125px;
    height: 74px;

} 

label {
    display: inline-block;
    margin-bottom: 4%;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red);
    -webkit-transition: .4s;
    transition: .4s;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

input:checked + .slider {
    background-color: var(--light-blue);
}
.slider.round {
    border-radius: 40px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: 40px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;

}
.shoe-button.big-bold {
    width: 230px;
    height: 75px;
    margin-left: 40%;
    font-size: 20px;
}


.shoe-button.big-bold:hover {
    background-color: var(--light-blue);
    color: #000;
}
.button--big-bold {
    width: 230px;
    height: 75px;
    margin-left: 40%;
    font-size: 20px;
}


.button--big-bold:hover {
    background-color: var(--light-blue);
    color: #000;
}


.div__contact--float{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    margin:0 10% 0 10%;
    bottom: 70px;
    background-color: #fff
}

.span--orange{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background-color: var(--red);
}
.span--orange i { 
    position: relative;
    left: 32%;
    top: 27%;
    width: 50px;
    color: #fff;
}
.form-sec,.div__contact--float{
    background-color: #eee;
}

.div__contact--float{
    padding:5%
}